* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: justify;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 20px;
    background-color: #054988;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main {
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin: 15px;
}

.multimedia {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

img {
    height: 200px;
    margin: 10px;
    width: fit-content;
}

audio {
    margin: 15px 0;
}

video {
    height: 300px;
}

form {
    display: grid;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 10px auto 50px;
    justify-items: center;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.multimedia-texto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 30px;
    justify-items: stretch;
}

footer {
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #054988;
    padding: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
